.announcement-container {
  height: 30px;
  background-color: lightcoral;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif;
}
