.navbar-container {
  height: 60px;
}

.header-container {
  padding: 10px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-section {
  flex: 1;

  display: flex;
  align-items: center;
}

.header-center-section {
  flex: 1;
}

.header-right-section {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language {
  font-size: 14px;
  cursor: pointer;
}

.search-container {
  border: 0.5px solid lightgray;

  display: flex;
  align-items: center;

  margin-left: 25px;
}

.search-box {
  border: none;
  padding: 10px;
}

.search-icon {
  color: gray;
  margin-right: 10px;
}

.header-logo {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.header-menu-item {
  font-size: 14px;
  cursor: pointer;

  margin-left: 25px;
}
